<!-- header including -->
<%-include('include/_header')%>
<!-- header including -->


<!-- main section -->
<body>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"> <i class="fas fa-angle-double-left"></i> All Users</a>
                </div>
            </div>
    
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light"> Use the below form to update the existing user</span>
            </div>
    
            <!-- form handeling -->
<form method="POST" id="update_user">
    <div class="new-user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="Siam">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= user.email%>" placeholder="user@gmail.com">
        </div>

        <div class="wrapper sector">
            <div>
                <h3 class="sector-title">Choose your Sector-</h3>
            </div>
            <div class="select-btn">
              <span class="items-heading">Sectors</span>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="content">
              <div class="search">
                <i class="fa-thin fa-magnifying-glass"></i>
                <input spellcheck="false" type="text" placeholder="Search">
              </div>
              <ul class="options"></ul>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female"  <%= user.gender == 'Female' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="text-dark">Terms & Conditions</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="terms_conditions" value="Agree" <%= user.terms_conditions == 'Agree' ? 'checked' : '' %>
                <label for="radio-4" class="radio-label">Agree</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="terms_conditions" value="Disagree" <%= user.terms_conditions == 'Disagree' ? 'checked' : '' %>
                <label for="radio-5" class="radio-label">Disagree</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn text-dark update">Save</button>
    </div>
</form>
<!-- form handeling -->
            
        </div>
    </main>
    <script src="/js/script.js"></script>
</body>
<!-- main section -->

<!-- footer including -->
<%-include('include/_footer')%>
<!-- footer including -->